{% extends 'base.html' %}
{% block title %}Новый документ{% endblock %}
{% block content %}
    <h1>Создать документ</h1>
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        {{ form.title(class="form-title", placeholder=form.title.label.text) }}
        <p>
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </p>
        {{ form.content(class="form-content", placeholder=form.content.label.text) }}
        <p>
            {% if form.content.errors %}
                {% for error in form.content.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </p>
        {% if is_edit %}
            {{ form.on_delete.label.text }} {{ form.on_delete(class="form-boolean") }}
        {% endif %}
        {{ form.submit(class="submit-btn") }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
{% endblock %}