{% extends 'base.html' %}
{% block title %}{{ obj.title }}{% endblock %}
{% block content %}
    <h1>{{ obj.title }}</h1>
    <div class="content-block">
        <div class="document">
            <div class="doc-content">
                {{ obj.content }}
                {% if obj.on_delete %}
                    Помечен на удаление
                {% endif %}
            </div>
        </div>
        <div>
            {% for version in versions %}
                {{ version.title }} {{ version.content }}
            {% endfor %}
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}